.input-filed {
    box-shadow: inset #abacaf 0 0 0 2px;
    border: 0;
    background: rgba(0, 0, 0, 0);
    appearance: none;
    width: 100%;
    position: relative;
    border-radius: 3px;
    padding: 9px 12px;
    line-height: 1.4;
    color: #2A2438;
    font-size: 14px;
    font-weight: 100;
    height: 35px;
    transition: all .2s ease;
}

.input-filed:hover {
    box-shadow: 0 0 0 0 #FAF0E6 inset, #352F44 0 0 0 2px;
}

.input-filed:focus {
    background: #FAF0E6;
    outline: 0;
    box-shadow: 0 0 0 0 #FAF0E6 inset, #352F44 0 0 0 3px;
}