body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #2A2438;
    background-image: url("../images/back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #5C5470;

    
}
  /* Başlangıçta formu gizle */
#input-box {
    position: fixed; 
    bottom: 150px; 
    left: 50%; 
    transform: translateX(-50%); /* Kendi ekseninde yarı yarıya sola kaydır */
    width: 25%; /* Genişlik */
}

#content {
    font-size: 14px;
}

/* Ekstra stil */
.border {
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.wrapper {
    display: grid;
    height: 84.5vh;
    gap: 10px;
    grid-template-columns: repeat(5,  0.5fr);
    grid-template-rows: repeat(4,  0.5fr) 0.3fr;
}

.plus-button-grid {
    grid-column: 1 / 6;
    grid-row: 5 / 6;
}

.grid-placement {
    grid-column: 1;
    grid-row: 1;
}

