<div class="container wrapper">
    <% words.forEach(element=> { %>
        <div class="card word-card m-2 grid-placement">
            <div class="card-body d-flex flex-column align-items-center text-center">
                <span class="py-2 fw-bold border-3 border-bottom"><%- element.en_word %></span>
                <form action="/check" class="pt-3" method="POST">
                    <div class="d-flex align-items-center">
                        <input class="mx-2 input-filed" type="text" id="word" placeholder="Enter meaning" name="check_word" size="15">
                        <button type="submit" class="button-35">Check</button>
                    </div>
                </form>
            </div>
        </div>
    <% }) %>

        <div class="container d-flex align-items-end justify-content-center plus-button-grid">
            <div class="border d-none word-card border-radius-2" id="input-box"> <!-- Bootstrap 'd-none' sınıfı ile başlangıçta gizli -->
                <form action="/new" class="d-flex flex-column row align-items-center" method="POST">
                    <label class="col-6 fw-bold text-center mb-4 border-bottom" for="word">Enter the Word</label>
                    <div class="col-11 text-center d-flex justify-content-around">
                        <input class="mx-2 input-filed w-75" type="text" id="word" placeholder="English Word" name="word">
                        <button type="submit" class="button-35">Add</button>
                    </div>
                </form>
            </div>
            <div class="d-flex justify-content-center pb-1">
                <button class="btn btn-transparent" id="plusButton">
                    <svg height="60px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                            sketch:type="MSPage">
                            <g id="Icon-Set-Filled" sketch:type="MSLayerGroup"
                                transform="translate(-466.000000, -1089.000000)" fill="#000000">
                                <path
                                    d="M488,1106 L483,1106 L483,1111 C483,1111.55 482.553,1112 482,1112 C481.447,1112 481,1111.55 481,1111 L481,1106 L476,1106 C475.447,1106 475,1105.55 475,1105 C475,1104.45 475.447,1104 476,1104 L481,1104 L481,1099 C481,1098.45 481.447,1098 482,1098 C482.553,1098 483,1098.45 483,1099 L483,1104 L488,1104 C488.553,1104 489,1104.45 489,1105 C489,1105.55 488.553,1106 488,1106 L488,1106 Z M482,1089 C473.163,1089 466,1096.16 466,1105 C466,1113.84 473.163,1121 482,1121 C490.837,1121 498,1113.84 498,1105 C498,1096.16 490.837,1089 482,1089 L482,1089 Z"
                                    id="plus-circle" sketch:type="MSShapeGroup"></path>
                            </g>
                        </g>
                    </svg>
                </button>
            </div>
        </div>
</div>